@import "tailwindcss";


@import "styles/base.css";
@import "styles/components.css";
@import "styles/utilities.css";
@import "styles/custom.css";

@layer base {
  /* Custom base styles can be added here */
}